.key-component {
	display: block;
	position: absolute;
	background-color: #ffffffcc;
	bottom: -42px;
	left: 2.5%;
	border-radius: 0 10px 10px 0;
	color: #00000077;
	padding: 1em;
}
.key-component p {
	margin: 0;
}
@media (min-width: 480px) and (max-width: 570px){
	.key-component {
		bottom: -42px;
		left: 3%;
	}
}
@media (min-width: 570px) and (max-width: 767px){
	.key-component {
		bottom: -12px;
		left: 2.5%;
	}
}
@media (min-width: 767px) {
	.key-component {
		bottom: -12px;
		left: 24.25%;
	}
}