.key-component {
	display: inline-flex;
	width: 80vw;
	justify-content: space-evenly;
	background-color: #ffffffcc;
	border-radius: 10px;
	color: #00000077;
	padding: 1em;
	margin-bottom: 1rem;
}
.key-component p {
	margin: 0;
}
@media (min-width: 480px) and (max-width: 570px){
	.key-component {
	}
}
@media (min-width: 570px) and (max-width: 767px){
	.key-component {
	}
}
@media (min-width: 767px) {
	.key-component {
	}
}