.header-component {
	background-image: url('../assets/img/hops5.jpg');
	background-size: cover;
}
.header-component h2 {
	color: rgb(0, 0, 0);
	font-family: 'Merriweather', serif;
	font-size: 3em;
	margin-top: 0;
	padding: 1em;
	text-shadow: 2px 2px 2px #FFFFFF, 3px 3px 6px #FFFFFF;
}
