.header-component {
	background-image: url('../assets/img/hops5.jpg');
	background-size: cover;
}
.header-component h2 {
	color: rgb(0, 0, 0);
	font-family: 'Merriweather', serif;
	font-size: 2em;
	margin-top: 0;
	padding: 1em;
}
.header-component nav a {
	/* padding: 1em; */
	color: white;
	margin: 1em;
	font-size: 1.5em;
	text-decoration: none;
	font-family: 'Merriweather', serif;
}
.header-component nav {
	background-color: rgb(8, 8, 8);
	height: 2.3em;
	text-align: left;
}
.header-component nav a:hover {
	color: rgb(8, 184, 8);
}

.header-component nav button {
	float: right;
	background-color: rgba(8, 8, 8, 0.041);
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	border: none;
	height: 1.3em;
	margin-right: 1em;
	cursor: pointer;
}
.header-component nav button:hover {
	color: rgb(8, 184, 8);
}
.header-component nav button:hover {
	color: rgb(8, 184, 8);
}
