.add-form-page form {
	background-image: url("../images/wall3.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-right: 0em;
	padding: 0px;

	
}
.dashboard-top {
	background-image: url('../assets/img/hops5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.add-form-page nav a {
	margin: 1em;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	font-family: 'Merriweather', serif;
}
.add-form-page nav a:hover {
	color: green
}

.add-form-page nav {
	background-color: rgba(8, 8, 8, 0.774);
	height: 2.3em;
	text-align: left;
}
.add-form-page nav a:hover {
	color: rgb(8, 184, 8);
}
.add-form-page nav button {
	float: right;
	background-color: rgba(8, 8, 8, 0.041);
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	border: none;
	height: 1.3em;
}
.add-form-page nav button:hover {
	color: rgb(8, 184, 8);
}
.add-form-page h3 {
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 25px;
}

.add-form-page input, textarea {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid  rgb(8, 184, 8);
	outline: none;
	color: rgb(82, 79, 80);
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px rgb(198, 189, 192);
	-moz-box-shadow: inset 1px 1px 4px rgb(158, 149, 153);
	-webkit-box-shadow: inset 1px 1px 4px rgb(110, 107, 108);
	background: rgb(178, 220, 183);
}
.clear-submit-btn {
	background: rgb(63, 62, 63);
	border: 1px solid rgb(27, 10, 18);
	padding: 5px 15px 5px 15px;
	color: rgb(122, 194, 125);
	box-shadow: inset -1px -1px 3px rgb(65, 63, 64);
	-moz-box-shadow: inset -1px -1px 3px rgb(100, 96, 98);
	-webkit-box-shadow: inset -1px -1px 3px rgb(105, 101, 103);
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
	margin: 10px;
} 

.add-form-page fieldset{
	width:50%;
	margin-top: 20px;
	border-radius: 10px;
	border: 2px solid rgba(60, 131, 64, 0.858);
	padding: 20px;
	box-shadow: inset 0px 0px 15px rgb(243, 230, 230);
	-moz-box-shadow: inset 0px 0px 15px rgb(236, 217, 217);
	-webkit-box-shadow: inset 0px 0px 15px rgb(215, 209, 209);
	background-color: rgba(226, 240, 227, 0.653);
}
.unstyled::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.add-form-page textarea {
	width: 100%;
	height: 100px;
	
}
.form-section{
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-section label {
	color: black;
	font-weight: bold;
	font-size: 15px;
	text-shadow: 1px 1px 1px #fff;
	margin: 0px 0px 20px 15px;

}

#beer-entry-type, #beer-entry-abv, #beer-entry-location, 
#beer-entry-name, #beer-entry-date {
	width:90%;
	color: rgb(80, 70, 74);
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}

.add-form-page legend {
	color: rgb(21, 53, 30);
	border-top: 2px solid rgb(73, 159, 70);
	border-left: 2px solid rgb(73, 159, 70);
	border-right: 2px solid rgb(95, 155, 100);
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background:  rgba(226, 240, 227, 0.653);
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 20px;
}

.required {
	color: red; 
	font-weight:normal;
	position: relative;
}
.add-form-page div {
    margin: 10px;
}

#beer-entry-description label, textarea {
 position: relative;
 top: 20px;
}




@media only screen and (min-width: 600px) {
	.form-section{
		padding: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
  }

