.add-form-page h2 {
	color: black;
}
.add-form-page nav input {
	display: none;
}

.add-form-page form {
	background-image: url("../images/wall6.jpg");
	background-repeat: repeat;
	background-size: ;
	margin-right: 0em;
	padding: 49px;
}

.dashboard-top {
	background-image: url('../assets/img/hops5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.add-form-page section.header-component {
	margin: 0px;
}

.add-form-page nav {
	background-color: rgba(8, 8, 8);
	height: 2.3em;
	text-align: left;
}
.add-form-page nav a:hover {
	color: rgb(8, 184, 8);
}
.add-form-page nav button {
	float: right;
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	border: none;
	height: 1.3em;
}
.add-form-page nav button:hover {
	color: rgb(8, 184, 8);
}
.add-form-page h3 {
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 25px;
}

.add-form-page input,
textarea {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid rgb(8, 184, 8);
	outline: none;
	color: rgb(82, 79, 80);
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px rgb(198, 189, 192);
	-moz-box-shadow: inset 1px 1px 4px rgb(158, 149, 153);
	-webkit-box-shadow: inset 1px 1px 4px rgb(110, 107, 108);
	background: rgb(178, 220, 183);
}
.clear-submit-back-btn {
	background: rgb(63, 62, 63);
	border: 1px solid rgb(27, 10, 18);
	padding: 5px 15px 5px 15px;
	color: rgb(122, 194, 125);
	box-shadow: inset -1px -1px 3px rgb(65, 63, 64);
	-moz-box-shadow: inset -1px -1px 3px rgb(100, 96, 98);
	-webkit-box-shadow: inset -1px -1px 3px rgb(105, 101, 103);
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: bold;
	margin: 10px;
}

.add-form-page fieldset {
	width: 50%;
	margin-top: 20px;
	border-radius: 10px;
	border: 2px solid rgba(60, 131, 64, 0.858);
	padding: 20px;
	box-shadow: inset 0px 0px 15px rgb(243, 230, 230);
	-moz-box-shadow: inset 0px 0px 15px rgb(236, 217, 217);
	-webkit-box-shadow: inset 0px 0px 15px rgb(215, 209, 209);
	background-color: rgba(255, 255, 255, 0.66);
	z-index: 1;
}
.unstyled::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
}

.add-form-page textarea {
	width: 90%;
	height: 100px;
}
.form-section {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.form-section label {
	color: black;
	font-weight: bold;
	font-size: 15px;
	text-shadow: 1px 1px 1px #fff;
	margin: 0px 0px 20px 15px;
}

#beer-entry-abv,
#beer-entry-location,
#beer-entry-name,
#beer-entry-date {
	width: 90%;
	color: rgb(80, 70, 74);
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}

#beer-entry-type {
	width: 90%;
	background: rgb(63, 62, 63);
	border: 1px solid rgb(27, 10, 18);
	padding: 5px 15px 5px 15px;
	color: rgb(122, 194, 125);
	font-size: 15px;
}

.add-form-page legend {
	color: rgb(21, 53, 30);
	border-top: 2px solid rgb(73, 159, 70);
	border-left: 2px solid rgb(73, 159, 70);
	border-right: 2px solid rgb(95, 155, 100);
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: rgba(226, 240, 227, 0.653);
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #f1f1f1;
	-moz-box-shadow: -0px -1px 2px #f1f1f1;
	-webkit-box-shadow: -0px -1px 2px #f1f1f1;
	font-weight: normal;
	font-size: 20px;
}

.required {
	color: red;
	font-weight: normal;
	position: relative;
}
.add-form-page div {
	margin: 10px;
}

#beer-entry-description label,
textarea {
	position: relative;
	top: 20px;
}

@media only screen and (max-width: 570px) {
	.form-section {
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.add-form-page input:checked ~ a {
		margin-bottom: 0px;
	}

	.add-form-page nav {
		background-color: transparent;
	}
	.add-form-page .header-component a {
		font: 10px;
		margin: 0px;
	}
	.add-form-page nav input {
		display: inline-block;
		width: 60px;
		height: 50px;
		position: absolute;
		top: 123px;
		left: 2px;
		cursor: pointer;
		opacity: 0;
		-webkit-touch-callout: none;
	}
	.add-form-page nav span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: white;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
			background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
	}

	.add-form-page a {
		padding-top: 0px;
		margin-left: 0px;
		display: block;
	}
	.add-form-page nav span:first-child {
		transform-origin: 0% 0%;
	}

	.add-form-page nav input:checked ~ .child-2 {
		position: relative;
		top: 15px;
		transform-origin: 0% 100%;
		transform: rotate(-20deg) translate(2px, -1px);
	}

	.add-form-page a.active {
		border-bottom: none;
	}

	.add-form-page input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: white;
	}

	.add-form-page nav input:checked ~ .child-3 {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	.add-form-page nav input:checked ~ .child-1 {
		transform: rotate(20deg) translate(0, -1px);
		position: relative;
		top: 15px;
	}

	.add-form-page nav a,
	a.active {
		color: black;
		font-weight: bold;
		margin-left: 0px;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(-100%, 0);
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
		width: 200px;
	}

	.add-form-page nav input:checked ~ a {
		transform: none;
		display: flex;
		position: relative;
		top: 12px;
		left: -7px;
		margin-right: 10px;
		background-color: rgba(226, 240, 227, 0.653);
		border: 1px solid rgba(60, 131, 64, 0.858);
		border-radius: 5px;
		font-size: 15px;
		margin-left: 12px;
		padding: 3px;
	}
	.add-form-page .header-component nav button {
		color: white;
		display: block;
		float: right;
		position: relative;
		top: -111px;
		right: 148px;
		font-weight: bold;
		font-size: 20px;
	}

	.add-form-page nav {
		background-color: rgba(8, 8, 8, 0.774);
		height: 2.3em;
		text-align: left;
	}
}
