.list-component-rating {
	width: 150px;
	min-width: 150px;
	margin: 0 auto;
}
.list-component-rating > img {
	z-index: 1;
	width: 100%;
}
.list-component-rating > div {
	background-color: #ffbf00;
	position: relative;
	height: 27px;
	margin-top: -31px;
	z-index: -1;
}
.breweries-list  button {
	cursor: pointer;
	background: rgb(63, 62, 63);
	border: 1px solid rgb(27, 10, 18);
	padding: 4px 8px 4px 8px;
	color: rgb(122, 194, 125);
	box-shadow: inset -1px -1px 3px rgb(65, 63, 64);
	-moz-box-shadow: inset -1px -1px 3px rgb(100, 96, 98);
	-webkit-box-shadow: inset -1px -1px 3px rgb(105, 101, 103);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: bold;
	margin-bottom: 16px;
}