.landing-page-about {
	display: inline-block;
	justify-content: center;
	margin-bottom: 10%;;
}
.landing-page {
	background-color: rgb(39, 40, 49);
}
.parallax-banner-layer-0 {
	opacity: 0.7;
}
.parallax-banner-layer-0 > * {
	opacity: 1;
}

.landing-page nav {
	position: absolute;
	right: 0;
	padding: 10px;
}
.landing-page nav a {
	color: white;
	padding: 5px;
	font-size: 30px;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	margin-right: 10px;
}
.landing-page nav a:hover {
	/* color: rgb(9, 162, 250); */
	color: rgb(250, 77, 9);
	cursor: pointer;
}
.landing-page footer {
	padding: 2em;
	color: white;
}
.landing-page-about figure {
	float: left;
	margin-top: 13%;
	margin-left: 10%;
	margin-bottom: 10%;
}
.landing-page-about img {
	height: 29em;
	width: 25em;
	border-radius: 3%;
}
.deerbear-img {
    height: 24em;
    width: 22em;
    border-radius: 3%;
    margin-bottom: 40px;
}
.landing-page-about figcaption {
	color: white; 
	font-family: 'Merriweather', serif;
	font-size: 20px;
}
.landing-page-about h2 {
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 90px;
}
.para-1 {
	color: tomato;
    font-size: 40px;
	font-family: 'Merriweather', serif;
	
}

.para-2 {
	color: white;
    font-size: 22px;
    font-family: 'Merriweather', serif;
    padding-top: 134px;
    padding-right: 60px;
}
.about-desc {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.map-img {
	width: 60em;
	height: 25em;
	margin-right: 20%;
	margin-left: 5%;
	border-radius: 1%;
	margin-top: -10em;
	margin-bottom: 2em;
}
.logo {
	width: 160px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 230px;
	left: 70px;
}
.landing-page h1 {
    font-size: 120px;
    font-weight: bold;
    color: white;
    font-family: 'Merriweather', serif;
    position: relative;
}

@media only screen and (max-width: 760px) {
	.logo {
		width: 120px;
		z-index: 2;
		display: flex;
		flex-direction: row;
		position: relative;
		top: 170px;
		left: 30px;
	}
	.landing-page h1 {
		font-size: 90px;
		font-weight: bold;
		color: white;
		font-family: 'Merriweather', serif;
		position: relative;
	}
	.para-1{
		font-size: 22px;
		color: rgb(199, 162, 41)
	}
	.para-2 {
		font-size: 17px;
	}
	.about-desc {
		display: flex;
		flex-direction: row;
		justify-content: center;
		
	}
}


@media only screen and (max-width: 480px) {

	.header-logo-h1 {
		display: flex;
		flex-direction: column;
	}

	
}
