.landing-page-about {
	display: flex;
	justify-content: space-evenly;
}
.landing-page {
	/* background-image: url(https://images.unsplash.com/photo-1505075106905-fb052892c116?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); */
	/* background-repeat: no-repeat;
	/* background-attachment: scroll; */
	/* background-position: center;
	background-size: cover;  */
	/* height: 100%;
    opacity: 0.9; */
	background-color: rgb(39, 40, 49);
}
.parallax-banner-layer-0 {
	opacity: 0.7;
}
.parallax-banner-layer-0 > * {
	opacity: 1;
}
.landing-page h1 {
	color: white;
	font-family: 'Merriweather', serif;
	position: absolute;
	text-align: center;
	height: 75%;
	width: 101%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 4em;
}
.landing-page nav {
	position: absolute;
	right: 0;
	padding: 10px;
}
.landing-page nav a {
	color: white;
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
}
.landing-page nav a:hover {
	color: rgb(9, 162, 250);
	cursor: pointer;
}
