/* .landing-page-about {
	display: flex;
	flex-direction: column;
	margin-bottom: 10%;
	align-items: center;
	margin: 0px;
	background-color: black;
} */

.landing-page-about {
	background-color: rgb(39, 40, 49);
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.parallax-banner-layer-0 {
	opacity: 0.9;
}
.parallax-banner-layer-0 > * {
	opacity: 1;
}

.landing-page nav {
	position: absolute;
	right: 0;
	padding: 10px;
}
.landing-page nav a {
	color: white;
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	margin-right: 5px;
}
.landing-page nav a:hover {
	color:rgb(213, 94, 73);
	cursor: pointer;
	border-bottom: 3px solid rgb(213, 94, 73);
	

}
.landing-page h1 {
	font-size: 60px;
	font-weight: bold;
	color: white;
	font-family: 'Merriweather', serif;
	position: relative;
	margin-top: 35vh;
	text-align: center;
}
.logo {
    width: 3.5em;
    height: 3em;
	margin-top: 1em;
	align-self: center;
	padding-bottom: 5px;

}
.landing-page-about h2 {
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 55px;
	margin-block-start:0px;
	margin-block-end:0px;
	border-right: 3px solid white;
	border-left: 3px solid white;
}	


.landing-page-about h3 {
	font-size: 20px;
	color: rgb(213, 94, 73);
	font-family: 'Merriweather', serif;
}
.para-2 {
	color: white;
	font-size: 15px;
	font-family: 'Merriweather', serif;
	text-align: justify;
	padding-bottom: 45px;
	border-bottom: 3px solid rgb(213, 94, 73);

}
.deerbear-img {
	text-align: center; 
	width: 225px;

}
.landing-page figure {
	text-align: center; 
}

.map-img {
	width: 240px;
	margin-top: 0px;
	padding-top: 20px;
}

.landing-page-about figcaption {
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 15px;
}

.map-desc {
	color: white;
	text-align: justify;
}

.landing-page footer {
	background-color:rgb(213, 94, 73);
	padding: 2em;
	color: black;
	font-size: 10px;
	font-weight: bold;
}


@media only screen and (min-width: 460px) {
	.map-img {
		width: 350px;
	}
	.deerbear-img {
		text-align: center; 
		width: 250px;

	}
	.landing-page-about h2 {
		font-size: 60px;
		border-right: 3px solid white;
		border-left: 3px solid white;

	}

	
}

@media only screen and (min-width: 720px) {
	.landing-page-about{
		padding: 100px;  
	}
	.map-img {
		width: 500px;
	}

	.deerbear-img {
		text-align: center; 
		width: 350px;

	}
	.landing-page-about h2 {
		color: white;
		font-family: 'Merriweather', serif;
		font-size: 70px;
		margin-block-start: 0px;
		margin-block-end: 0px;
		border-right: none;
		border-left: none;
	}

	.logo {
		width: 6.5em;
		height: 6em;
		margin-top: 1em;
		align-self: center;
	}
	.landing-page h1 {
		font-size: 120px;
		font-weight: bold;
		color: white;
		font-family: 'Merriweather', serif;
		position: relative;
		margin-top: 30vh;
		text-align: center;
		z-index: 2;
	}
	.map-desc, .para-2 {
		font-size: 25px;
	}
	.landing-page-about h3{
		font-size: 30px;
	}

	.landing-page-about h2 {
		font-size: 85px;
	}
	.landing-page nav a {
		font-size: 30px;
		margin-right: 20px;
	}
}