.journal-item-button {
	border: none;
	border-radius: 5%;
	margin: 3em;
	padding: 10px 10px 30px 10px;
	width: 35vh;
	height: 45vh;
}

.journal-item-button:hover {
	cursor: pointer;
	background-color: rgba(209, 240, 205, 0.884);
}
.dashboard-page {
	background: rgba(8, 8, 8, 0.952);
	height: 100vh;
}
.dashboard-bottom {
	background-image: url('../images/wall6.jpg');
	/* background-repeat: repeat-y;
	background-position: center; */
	min-height: 100vh;
}

/* .dashboard-bottom button {
	color: white;
	background-color: black;
	border: none;
} */


.dashboard-bottom li {
	list-style: none;
	color: white;
	padding: 2em;
}
.darker {
	/* padding: 4em; */
	/* background-color: #00000055; */
	height: max-content;
	min-height: 100vh;
}
.beerList-item {
	display: inline-flex;
	flex-direction: row;
	width: auto;
}
.toggleSort {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.beer-color-img {
	height: 11em;
	width: 11em;
	padding: 1em;
}
.rating-img {
	margin: 1rem auto;
	display: block;
}
.sort-select {
	margin-top: 4em;
	height: 3em;
	width: 10em;
	cursor: pointer;
	margin: 1em;
	width: 25%;
	background: white;
	border: 2px solid rgb(71, 109, 53);
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
	color: rgb(122, 194, 125);
	font-size: 15px;
}
.sort-select:hover {
	border: rgb(9, 48, 9);
}
.journal-item-button h4 {
	font-size: 2em;
	font-family: 'Merriweather', serif;
}
.beer-date {
	font-size: 1.5em;
	font-family: 'Merriweather', serif;
}

.search-bar {
	margin: 1em;
	height: 2.4em;
	width: 14em;
	height: 3em;
	width: 10em;
	cursor: pointer;
	width: 25%;
	background: white;
	border: 2px solid rgb(71, 109, 53);
	border-radius: 5px;
	color: rgb(122, 194, 125);
	font-size: 15px;
}
.type-select {
	margin-top: 4em;
	height: 3em;
	width: 11em;
	cursor: pointer;
	margin: 2em;
	width: 25%;
	background: white;
	border: 2px solid rgb(71, 109, 53);
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
	color: rgb(122, 194, 125);
	font-size: 15px;
	
}
.type-select:hover {
	border: rgb(9, 48, 9);
}

@media only screen and (max-width: 760px) {
	.dashboard-page nav button {
		float: right;
		color: white;
		font-family: 'Merriweather', serif;
		font-size: 20px;
		border: none;
		height: .3em;
	}
	.dashboard-page nav a {
		font-size: 20px;
	}
}
@media only screen and (max-width: 488px) {
	.beerList-item{
		border: none;
		border-radius: 5%;
		margin: 3em;
		padding: 10px 10px 30px 10px;
		width: 35vh;
		height: 45vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	
	
	.sort-select {
		margin-left: 146px;
	}

	.dashboard-page input:checked ~ a{

		margin-bottom: 0px;
	}
	
	.dashboard-page nav {
		background-color: transparent;
	}
	.dashboard-page .header-component a {
		font: 10px;
		margin: 0px;
	}
	.dashboard-page nav input {
		display: inline-block;
		width: 60px;
		height: 50px;
		position: absolute;
		top: 123px;
		left: 2px;
		cursor: pointer;
		opacity: 0; 
		-webkit-touch-callout: none;
	}
	.dashboard-page nav span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  background:white;
	  border-radius: 3px;
	  z-index: 1;
	  transform-origin: 4px 0px;
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
	}
	
	
	.dashboard-page a {
		padding-top: 0px;
		margin-left: 0px;
		display: block;
	
	}
	 .dashboard-page nav span:first-child
	{
	  transform-origin: 0% 0%;
	}
	
	.dashboard-page nav input:checked ~ .child-2
	{
	  position: relative;
	  top: 15px;
	  transform-origin: 0% 100%;
	  transform: rotate(-20deg) translate(2px,-1px);
	}
	
	  .dashboard-page a.active {
		  border-bottom: none;
	  }
	
	 .dashboard-page input:checked ~ span
	 {
			opacity: 1;
			transform: rotate(45deg) translate(-2px, -1px);
			background: white
	 }
	
	.dashboard-page nav input:checked ~ .child-3
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}
	
	.dashboard-page nav input:checked ~ .child-1{
	  transform: rotate(20deg) translate(0, -1px);
	  position: relative;
	  top: 15px;
	}
	
	.dashboard-page nav a, a.active
	{
	  color: black;
	  font-weight: bold;
	  margin-left: 0px;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	  width: 200px;
	}
	
	
	.dashboard-page nav input:checked ~ a
	{
	  transform: none;
	  display: flex;
	  position: relative;
	  top: 12px;
	  left: -7px;
	  margin-right: 10px;
	  background-color:rgba(226, 240, 227, 0.653);
	  border: 1px solid rgba(60, 131, 64, 0.858);
	  border-radius: 5px;
	  font-size: 15px;
	  margin-left: 12px;
	  padding: 3px;
	
	  
	}
	.dashboard-page .header-component nav button {
		color: white;
		display: block;
		float: right;
		position: relative;
		top: -111px;
		right: 148px;
		font-weight: bold;
		font-size: 20px;
	}


	.dashboard-page nav {
		background-color: rgba(8, 8, 8, 0.774);
		height: 2.3em;
		text-align: left;
	}
	
  }


