.hidden {
	display: none;
}
.radio-group img {
	margin: 10px;
	border-radius: 25%;
	padding: 5px;
}
.inactiveClass {
	background-color: white;
}
.activeClass {
	background-color: rgba(0, 0, 0, 0.418) !important;
}
.journal-item-button-small {
	border: none;
	border-radius: 5%;
	margin: 0.3em;
	width: 30vw;
}
.journal-item-button-small:hover {
	cursor: pointer;
	background-color: rgba(209, 240, 205, 0.884);
}
.journal-item-button-small h4 {
	font-size: medium;
	margin-top: 2.8vh;
}
.journal-item-button-small .rating-img {
	margin: 0 0 0.4rem 0;
	height: 1.4rem;
}
.journal-item-button-small .beer-date {
	font-size: 1em;
	font-family: 'Merriweather', serif;
	margin-bottom: 1rem;
	margin-top: 0.4rem;
}
.journal-item-button-large {
	border: none;
	border-radius: 5%;
	margin: 0.5em;
	padding: 10px;
	width: 44vw;
}
.journal-item-button-large:hover {
	cursor: pointer;
	background-color: rgba(209, 240, 205, 0.884);
}
.journal-item-button-large h4 {
	font-size: large;
	margin: 0em auto 0.5em;
}
.journal-item-button-large .beer-date {
	font-size: medium;
	margin-bottom: 0.5rem;
}
.journal-item-button-large .beer-color-img {
	height: 6em;
	width: 6em;
	padding: 1em;
}
.journal-item-button-large .rating-img {
	margin: 0.5rem auto 0.5rem;
	height: 2rem;
}
.journal-item-button-list {
	border: none;
	border-radius: 5%;
	margin: 0.4em;
	width: 94vw;
	display: flex;
	min-height: 2.5rem;
}
.journal-item-button-list:hover {
	cursor: pointer;
	background-color: rgba(209, 240, 205, 0.884);
}
/* .journal-item-button-list .rating-img {
	margin: auto 1rem auto auto;
	height: 20px;
} */
.journal-item-button-list .beer-date {
	font-family: 'Merriweather', serif;
	margin:auto 0.4rem auto auto;
}
.journal-item-button-list h4 {
	text-align: left;
	font-size: large;
	margin: auto 0.2rem;
	max-width: 10rem;
	min-width: 6rem;
}
.journal-item-button-details {
	border: none;
	border-radius: 5%;
	margin: 0.4em;
	width: 94vw;
	display: flex;
	flex-direction: row;
	min-height: 2.5rem;
}
.journal-item-button-details:hover {
	cursor: pointer;
	background-color: rgba(209, 240, 205, 0.884);
}
.journal-item-button-details .beer-color-img {
	margin: auto 0rem;
	height: 6rem;
	width: 6rem;
	border-right: 1px solid rgba(0, 0, 0, 0.37);
}
.journal-item-button-details h4 {
	font-size: larger;
	margin: 0.6rem auto;
}
.journal-item-button-details .beer-date {
	flex-direction: column;
	margin-bottom: 0.6rem;
}
.journal-item-button-details .rating-img {
	margin: auto;
	height: 2rem;
}
.journal-item-button-details h5 {
	margin: 1rem;
}
.details-column {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.dashboard-page {
	background: rgba(8, 8, 8, 0.952);
	height: 100vh;
}
.dashboard-bottom {
	background-image: url('../images/wall6.jpg');
	/* background-repeat: repeat-y;
	background-position: center; */
	min-height: 100vh;
}
/* .dashboard-bottom button {
	color: white;
	background-color: black;
	border: none;
} */


.dashboard-bottom li {
	list-style: none;
	color: white;
	padding: 2em;
}
.darker {
	/* padding: 4em; */
	/* background-color: #00000055; */
	height: max-content;
	min-height: 100vh;
}
.beerList-item {
	display: inline-flex;
	flex-direction: row;
	width: auto;
}
.toggleSort {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.beer-color-img {
	height: 8em;
	width: 8em;
	padding: 1em;
}
.sort-select {
	margin-top: 4em;
	height: 3em;
	width: 10em;
	cursor: pointer;
	margin: 1em;
	width: 25%;
	background: white;
	border: 2px solid rgb(71, 109, 53);
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
	color: rgb(122, 194, 125);
	font-size: 15px;
}
.sort-select:hover {
	border: rgb(9, 48, 9);
}
.beer-date {
	font-family: 'Merriweather', serif;
}
.search-bar {
	margin: 1em;
	height: 2.4em;
	width: 14em;
	height: 3em;
	width: 10em;
	cursor: pointer;
	width: 25%;
	background: white;
	border: 2px solid rgb(71, 109, 53);
	border-radius: 5px;
	color: rgb(122, 194, 125);
	font-size: 15px;
}
.type-select {
	margin-top: 4em;
	height: 3em;
	width: 11em;
	cursor: pointer;
	margin: 2em;
	width: 25%;
	background: white;
	border: 2px solid rgb(71, 109, 53);
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
	color: rgb(122, 194, 125);
	font-size: 15px;
	
}
.type-select:hover {
	border: rgb(9, 48, 9);
}

@media only screen and (min-width: 760px) {
	.journal-item-button-small {
		margin: 0.6rem;
	}
	.journal-item-button-small h4 {
		font-size: x-large;
		margin: 2rem 1rem;
	}
	.journal-item-button-small .rating-img {
		height: 2.6rem;
	}
	.journal-item-button-small .beer-date {
		margin-bottom: 1.4rem;
	}
	.journal-item-button-large {
		margin: 1rem;
	}
	.journal-item-button-large h4 {
		font-size: x-large;
		margin: 0.6rem 1rem;
	}
	.journal-item-button-large .beer-color-img {
		height: 8rem;
		width: 8rem;
	}
	.journal-item-button-large .beer-date {
		margin-top: 1rem;
	}
	.journal-item-button-large .rating-img {
		height: 4rem;
		margin: 1rem;
	}
	.journal-item-button-list {
		margin: 0.6rem auto;
	}
	.journal-item-button-list h4 {
		font-size: x-large;
		margin: 1rem;
	}
	/* .journal-item-button-list .rating-img {
		height: 2.8rem;
	} */
	.journal-item-button-list .beer-date {
		font-size: large;
		margin: auto 1.6rem auto auto;
	}
	.journal-item-button-details {
		margin: 0.6rem;
	}
	.journal-item-button-details h4 {
		font-size: xx-large;
	}
	.journal-item-button-details .rating-img {
		height: 4rem;
	}
	.journal-item-button-details .beer-date {
		font-size: large;
	}
	.journal-item-button-details h5 {
		font-size: large;
	}
	.journal-item-button-details .beer-color-img {
		height: 10rem;
		width: 10rem;
		margin: 0.6rem;
	}
}

@media only screen and (min-width: 1020px) {
	.journal-item-button-small {
		margin: 2rem 1.8rem;
		width: 30rem;
	}
	.journal-item-button-small h4 {
		font-size: xx-large;
		margin: 4rem 2rem 2rem 2rem;
	}
	.journal-item-button-small .rating-img {
		height: 6rem;
		margin: auto auto 2rem auto;
	}
	.journal-item-button-small .beer-date {
		font-size: large;
		margin-bottom: 4rem;
	}
	.journal-item-button-large {
		margin: 2.8rem 4rem;
		width: 40rem;
	}
	.journal-item-button-large .beer-color-img {
		margin-top: 1.8rem;
		margin-bottom: 1.6rem;
		height: 10rem;
		width: 10rem;
	}
	.journal-item-button-large h4 {
		font-size: xx-large;
	}
	.journal-item-button-large .rating-img {
		height: 6rem;
		margin-bottom: 1.8rem;
		margin-top: 2.6rem;
	}
	.journal-item-button-list {
		margin: 1rem auto;
		width: 88vw;
	}
}


@media only screen and (max-width: 570px) {

	.dashboard-page input:checked ~ a{

		margin-bottom: 0px;
	}
	
	.dashboard-page nav {
		background-color: transparent;
	}
	.dashboard-page .header-component a {
		font: 10px;
		margin: 0px;
	}
	.dashboard-page nav input {
		display: inline-block;
		width: 60px;
		height: 50px;
		position: absolute;
		top: 123px;
		left: 2px;
		cursor: pointer;
		opacity: 0; 
		-webkit-touch-callout: none;
	}
	.dashboard-page nav span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  background:white;
	  border-radius: 3px;
	  z-index: 1;
	  transform-origin: 4px 0px;
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
	}
	
	
	.dashboard-page a {
		padding-top: 0px;
		margin-left: 0px;
		display: block;
	
	}
	 .dashboard-page nav span:first-child
	{
	  transform-origin: 0% 0%;
	}
	
	.dashboard-page nav input:checked ~ .child-2
	{
	  position: relative;
	  top: 15px;
	  transform-origin: 0% 100%;
	  transform: rotate(-20deg) translate(2px,-1px);
	}
	
	  .dashboard-page a.active {
		  border-bottom: none;
	  }
	
	 .dashboard-page input:checked ~ span
	 {
			opacity: 1;
			transform: rotate(45deg) translate(-2px, -1px);
			background: white
	 }
	
	.dashboard-page nav input:checked ~ .child-3
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}
	
	.dashboard-page nav input:checked ~ .child-1{
	  transform: rotate(20deg) translate(0, -1px);
	  position: relative;
	  top: 15px;
	}
	
	.dashboard-page nav a, a.active
	{
	  color: black;
	  font-weight: bold;
	  margin-left: 0px;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	  width: 200px;
	}
	
	
	.dashboard-page nav input:checked ~ a
	{
	  transform: none;
	  display: flex;
	  position: relative;
	  top: 12px;
	  left: -7px;
	  margin-right: 10px;
	  background-color:rgba(226, 240, 227, 0.653);
	  border: 1px solid rgba(60, 131, 64, 0.858);
	  border-radius: 5px;
	  font-size: 15px;
	  margin-left: 12px;
	  padding: 3px;
	
	  
	}
	.dashboard-page .header-component nav button {
		color: white;
		display: block;
		float: right;
		position: relative;
		top: -111px;
		right: 148px;
		font-weight: bold;
		font-size: 20px;
	}


	.dashboard-page nav {
		background-color: rgba(8, 8, 8, 0.774);
		height: 2.3em;
		text-align: left;
	}
	
  }
