.login-page {
	background-image: url("../images/beer3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.login-page h1 {
	font-family: 'Merriweather', serif;
	color: white;
	font-size: 75px;
}
.login-header {
	text-decoration: none;
	cursor: pointer;
}

.login-page h3 {
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 40px;
}

.login-page input {
	background-color: rgba(255, 255, 255, 0.66);
	font-size: 20px;
	color: black;
	margin-bottom: 20px;
}

.login-page button {
	background-color: transparent;
	border-radius: 0px;
	color: white;
	font-size: 20px;
	cursor: hover;
}

.submit-btn {
	background: rgb(112, 206, 99);
	color: white;
	border-style: outset;
	border-color: #0066a2;
	height: 40px;
	font: bold 15px arial, sans-serif;
	text-shadow: none;
	cursor: pointer;
	width: 6em;
	font-family: 'Merriweather', serif;
}
.submit-btn:hover {
	background-color: rgba(0, 0, 0, 0.384);
	color: white;
	border-style: outset;
	border-color: #0066a2;
}

.other-btns {
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
	cursor: hover;
}
.login {
	background-color: rgba(0, 0, 0, 0.584);
	padding: 100px 75px;
	align-self: center;
}
.new-user-btn {
	border: none;
	cursor: pointer;
	font-family: 'Merriweather', serif;
}
.new-user-btn:hover {
	color: rgb(252, 189, 55);
}
