.register_route {
	background-image: url("../images/beer3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.error {
	font-weight: 900;
	color: #feb502;
	font-size: larger;
}
.register_route h1 {
	font-family: 'Merriweather', serif;
	color: white;
	font-size: 75px;
}

.register_route h3 {
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 40px;
}

.register {
	align-self: center;
	padding: 65px 75px;
	background-color: rgba(0, 0, 0, 0.584);
	margin-left: auto;
	margin-right: auto;
}

.register_route input {
	background-color: rgba(255, 255, 255, 0.66);
	font-size: 20px;
	color: black;
	margin-bottom: 20px;
}

.register_route button {
	background-color: transparent;
	border-radius: 0px;
	color: white;
	margin-right: 10px;
	font-size: 20px;
	cursor: hover;
}
.submit-button {
	background: rgb(112, 206, 99);
	color: white;
	border-style: outset;
	border-color: #0066a2;
	height: 40px;
	font: bold 15px arial, sans-serif;
	text-shadow: none;
	cursor: pointer;
	width: 6em;
	font-family: 'Merriweather', serif;
}
.submit-button:hover {
	background-color: rgba(0, 0, 0, 0.384);
	color: white;
	border-style: outset;
	border-color: #0066a2;
}
.login-btn {
	border: none;
	margin-top: 3em;
	font-family: 'Merriweather', serif;
	cursor: pointer;
}
.login-btn:hover {
	color: rgb(252, 189, 55);
}
.register-header {
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (max-width: 660px) {
	.register {
		align-self: center;
		padding: 34px 13px;
		background-color: rgba(0, 0, 0, 0.584);
		margin-left: auto;
		margin-right: auto;
	}
	.register_route h1 {
		font-family: 'Merriweather', serif;
		color: white;
		font-size: 65px;
		margin: 0;
	}
	.register_route h3 {
		font-family: 'Roboto Slab', serif;
		color: white;
		font-size: 35px;
	}
	.login-btn {
		border: none;
		margin-top: 2em;
		font-family: 'Merriweather', serif;
		cursor: pointer;
	}
}
