/* . {
	background-color: black;
	padding-top: 150px;
} */
.register_route {
    background-image: url("../images/beer3.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding-left: 70px;
    
}

.register_route h1 {
	font-family: 'Merriweather', serif;
	color: white;
	font-size: 50px;
}

.register_route h3 {
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 25px;
}

.register {
	padding-bottom: 25px;
	text-align: center;
	align-self: center;
	align-content: center;
	background-color: rgba(0, 0, 0, 0.584);
}

.register_route input {
	background-color: rgba(255, 255, 255, 0.66);
	font-size: 15px;
	color: black;
	margin-bottom: 10px;
}

.register_route button {
	background-color: transparent;
	border-radius: 0px;
	color: white;
	margin-right: 5px;
	font-size: 15px;
	cursor: hover;
}
