.circle-indicator {
    width: 16px;
    height: 16px;

    border-radius: 100%;
    display: inline-flex;
    margin-right: 16px;
    background-color: gray;
}
.circle-indicator-red {
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 100%;
    display: inline-flex;
    margin-right: 16px;
    box-shadow: 1px 1px 1px black;
}
.circle-indicator-green {
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 100%;
    display: inline-flex;
    margin-right: 16px;
    box-shadow: 1px 1px 1px black;
}